@import '/src/styles/base.scss';

#register-form {
  width: 60%;

  display: flex;
  flex-direction: column;

  align-items: center;
}

#register-form .form-title {
  text-align: center;
  font-size: 3rem;

  margin-bottom: 3rem;
}

.input-field {
  margin: 2rem 0;
  padding-bottom: 1rem;
}

.input-field-error {
  border-color: $color-lines-error;
}

.button {
  margin-top: 4rem;
}

.helper-container {
  margin-top: 3rem;
}

.helper-text {
  color: $color-text-warning;
}
