$color-background: #393939;

$color-text-primary: #fff;

$color-text-titles: #c66241;

$color-text-button: #ffc876;
$color-text-button-hover: #ff8f76;
$color-text-button-disabled: #8e8e8e;

$color-inputs: #cbcbcb;
$color-placeholders: #8e8e8e;

$color-lines: #8e8e8e;

$white: #fff;
$gray: #9b9b9b;
