@import '/src/styles/base.scss';

#login-form {
  width: 60%;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.title {
  text-align: center;
  font-size: 3rem;

  margin-bottom: 3rem;
}

.input-field {
  width: 60%;

  color: $color-inputs;
  background-color: transparent;

  border: 0;
  border-bottom: 2px solid $color-lines;

  padding-bottom: 1rem;

  text-align: center;

  margin: 2rem 0;
}

.input-field:focus {
  outline: none;

  .input-field::placeholder {
    color: transparent;
  }
}

.input-field::placeholder {
  color: $color-placeholders;
}

.button {
  background-color: transparent;
  border: 0;

  color: $color-text-button;

  transition: 0.2s;

  cursor: pointer;
}

.button:hover {
  color: $color-text-button-hover;
}
