@import '/src/styles/base.scss';

.button {
  border: 0;
  background-color: transparent;

  transition: 0.2s;
}

.button:enabled {
  color: $color-text-button;

  cursor: pointer;
}

.button:disabled {
  color: $color-text-button-disabled;

  cursor: default;
}

.button:hover:enabled {
  color: $color-text-button-hover;
}

.button:hover:disabled {
  color: $color-text-button-disabled;
}
