@import '/src/styles/base.scss';

.page-container {
  width: 60%;

  display: flex;
  flex-direction: column;

  align-items: center;
}

#title {
  margin-bottom: 4rem;
  font-size: 3rem;
  color: $color-text-titles;
}

p {
  margin: 1rem 0;
  font-size: 1.6rem;
}

li {
  font-size: 1.2rem;
}
