@import '/src/styles/base.scss';

.input-field {
  width: 60%;

  color: $color-inputs;
  background-color: transparent;

  border: 0;
  border-bottom: 2px solid $color-lines;

  text-align: center;
}

.input-field:focus {
  outline: none;

  .input-field::placeholder {
    color: transparent;
  }
}

.input-field::placeholder {
  color: $color-placeholders;
}
